# Ignore everything
*

# Except these
!/.fluxbox
!/.fluxbox/*
!readme.txt
!.gitignore
!aktivitet*
!/Desktop
!/Desktop/*
!/eksplodert-maskin-src
!/eksplodert-maskin-src/*
!/eksplodert-maskin-src/src
!/eksplodert-maskin-src/src/*

# Ignore some more
.fluxbox/log